.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a{
  color : red;
  text-decoration: none;
}


.locations {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
}

.hidden_menu {
  box-sizing: border-box;
  display: block;
  position: fixed;
  padding-top: 60px;
  font-size: 1em;
  margin: 0;
  width: 20%;
  background-color: #FFFAC2;
  height: 100%;
  top: 0;
  left: -800px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.hidden_menu-ticker {
  display: none;
}

.btn-menu {
  position: fixed;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  line-height: 25px;
  font-weight: bold;
  color: #fff;
  background-color: #C40021;
  padding: 10px;
  top: 5px;
  left: 5px;
  z-index: 3;
  width: 100px;
}

.search_text {
  width: 100%;
  text-align: center;
}

.hamburger {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transition: left .23s;
  width: 30px;
}

.hamburger span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .03s;
  position: relative;
}

.hamburger span.first {
  margin-top: 0;
}

.hidden_menu-ticker:checked ~ .btn-menu {
  border-radius: 50%;
  width: 25px;
}

.hidden_menu-ticker:checked ~ .btn-menu > .search_text {
  display: none;
}

.hidden_menu-ticker:checked ~ .hidden_menu {
  left: 0;
}

.hidden_menu-ticker:checked ~ .btn-menu > .hamburger .first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}

.hidden_menu-ticker:checked ~ .btn-menu > .hamburger .second {
  opacity: 0;
}

.hidden_menu-ticker:checked ~ .btn-menu > .hamburger .third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

.hidden_menu-ticker:checked > .container {
  display: flex;
}

.gm-style-mtc {
  display: none;
}
nav ul {
  float: center;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin: 0px;
  float: center;
}
nav a {
  margin-top: 20px;
  display: block;
  color: #000;
  text-decoration: none;
  width: 100%;
}

.li_item {
  font-family: "Lucida, sans-serif";
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 10px;
  cursor: pointer;
  height: 10px;
  font-weight: bold;
 }
 .search_items {
  font-weight: bold;
  height: 20px;
 }
