body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


@media screen and (max-width: 840px) {
  .hidden_menu {
    min-width: 100%;
    max-height: 10%;
  }
  .li_item {
    display: none;
  }

}
